/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------------------------*/
/*Missourian website redesign by Will Guldin*/ 
/*------------------------------------------*/

body {
	min-width: 60em;
}

html, body {
    overflow-x: hidden;
    height: 100%;
}

.container {
	margin: 0, auto;
	margin-left: 6%;
	margin-right: 2%;
	width: 93%;
}

/*NAV STYLE ----------------------------------------------------------------------------*/
/*NAV STYLE ----------------------------------------------------------------------------*/
/*NAV STYLE ----------------------------------------------------------------------------*/
/*NAV STYLE ----------------------------------------------------------------------------*/

a.nav {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 1.2em;

	display: block;

	text-align: center;

	color: #FFF;
	text-decoration: none;

	border-top: 2px solid rgba(255,255,255,.7);
	padding-top: .5em;
	padding-bottom: .5em;

   -webkit-transition:color .5s ease;  
   -moz-transition:color .5s ease;  
   -o-transition:color .5s ease;  
   transition:color .5s ease;

   -webkit-transition:background .5s ease;  
   -moz-transition:background .5s ease;  
   -o-transition:background .5s ease;  
   transition:background .5s ease;    

}

a.last {
	border-bottom: 2px solid rgba(255,255,255,.7);
}


a.selected {
	background: #FFF;
	color: #3856A4;
}

a.nav:hover {
	background: #FFF;
	color: #3856A4;
}

section.bar {
	background-color: #3856A4;
	width: 40px;
	height: 100%;
	position: fixed;

	-webkit-box-shadow: 0 2px 2px 2px #888888;
	   -moz-box-shadow: 0 2px 2px 2px #888888;
	        box-shadow: 0 2px 2px 2px #888888;
}

#logo {
	width: 35px;
	margin-top: -1em;
	margin-left: .2em;
	margin-bottom: -2em;
}

/*CONTENT ----------------------------------------------------------------------------*/
/*CONTENT ----------------------------------------------------------------------------*/
/*CONTENT ----------------------------------------------------------------------------*/
/*CONTENT ----------------------------------------------------------------------------*/

.content {
	width: 80%;
	margin-top: 2.5em;
	float: left;
}

div.main {
	width: 100%;
}

img.main_image {
	width: 100%;
	margin-top: 2em;
}

.main_head {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 7em;
	font-weight: 700;
	text-transform: uppercase;
}

.main_tag {
	font-family: 'Open Sans', sans-serif;
	font-size:1em;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: -.1em;
	color: #616161;
}

.main_deck {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6em;
	font-weight: 400;
	margin-top: .2em;
	margin-bottom: -.6em;
	padding-bottom: .73em;
	border-bottom: 1px dotted #878787;
}

.caption {
	font-family: 'Open Sans', sans-serif;
	font-size: .9em;
	font-weight: 400;
	line-height: 120%;
}

span.bold {
	font-weight: 700;
}

.intro {
	font-family: 'Georgia', serif;
	font-size: 1.2em;
	line-height: 115%;
}

.intro > p {
	margin-top: 1em;
}

a.read {
	color: #878787;
	font-family: 'Open Sans Condensed';
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}

a.read:hover {
	color: #000;
}

hr.line {
  padding: 0;
  border: none;
  border-top: 1px dotted #878787;
  width: 100%;
  margin-top: 1em;
}

#downpage_content {
	width: 100%;
	margin-top: 1em;
}

#secondary_left {
	width: 47.5%;
	margin-right: 2.5%;
	float: left;
	margin-bottom: 1em;	
}

#secondary_right {
	width: 47.5%;
	margin-left: 2.5%;
	float: left;
	margin-bottom: 1em;
}

img.secondary_image {
	width: 100%;
}

h4.secondary_head {
	font-family: 'Open Sans Condensed';
	font-weight: 700;
	line-height: 90%;
	font-size: 2.5em;
	text-transform: uppercase;
	margin-top: .3em;
	margin-bottom: .2em;
}

p.secondary_intro {
	font-family: 'Georgia', serif;
	font-size: 1.2em;
	line-height: 120%;
	margin-top: .5em;
}

p.blog_tag {
	font-family: 'Open Sans', sans-serif;
	font-size:1em;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 1.2em;
	color: #616161;
}

h6.blog_head {
	font-family: 'Open Sans Condensed';
	font-weight: 700;
	font-size: 2em;
	text-transform: uppercase;
	margin-top: .3em;
	margin-bottom: .3em;
}

/*COMMENTS, TWEETS, EVENTS SIDEBAR--------------------------------------------------------*/
/*COMMENTS, TWEETS, EVENTS SIDEBAR--------------------------------------------------------*/
/*COMMENTS, TWEETS, EVENTS SIDEBAR--------------------------------------------------------*/
/*COMMENTS, TWEETS, EVENTS SIDEBAR--------------------------------------------------------*/

.end_title {
	font-family: 'Open Sans Condensed';
	font-weight: 700;
	font-size: 1.2em;
	text-transform: uppercase;
	margin-top: .3em;
	margin-bottom: .3em;	
}

#comments {
	width: 30%;
	margin-right: 3%;
	border-right: 1px dotted #878787;
	float:left;
	margin-bottom: 1.3em;
	margin-top: .4em;
}

#comments > li {
	list-style-type: none;
}

h6.comment_head {
	font-family: 'Open Sans';
	font-size: .8em;
	font-weight: 700;
	line-height: 120%;
	color: #4e4e4e;
	text-transform: uppercase;
	padding-top: .6em;
	padding-bottom: .6em;
}

p.comment {
	font-family: 'Georgia';
	font-size: 1em;
	font-style: italic;
	line-height: 120%;
}

p.comment_byline {
	font-family: 'Georgia';
	font-size: .8em;
	font-weight: bold;

	margin-top: .4em;
	margin-bottom: .3em;

	text-align: right;
}

#tweets {
	width: 30%;
	margin-right: 3%;
	border-right: 1px dotted #878787;
	float:left;
	margin-top: .4em;	
}

#tweets > li {
	list-style-type: none;
}

h6.tweet {
	font-family: 'Georgia';
	font-size: 1em;
	line-height: 120%;
	padding-bottom: .3em;
	margin-bottom: .5em;
}

p.handle {
	font-family: 'Open Sans';
	font-size: .8em;
	font-weight: 700;
	line-height: 120%;
	color: #4e4e4e;
	text-transform: uppercase;
	padding-top: .6em;
	padding-bottom: .6em;
}

#events {
	width: 30%;
	margin-right: 3%;
	float:left;
	margin-top: .4em;	
}

#events > li {
	list-style-type: none;
}

.event_title {
	font-family: 'Open Sans';
	font-size: .8em;
	font-weight: 700;
	line-height: 120%;
	color: #4e4e4e;
	text-transform: uppercase;
	padding-top: .6em;
	padding-bottom: .6em;
}

.event_time {
	font-family: 'Georgia';
	font-size: .8em;
	font-weight: bold;

	line-height: 130%;

	margin-top: .4em;
	margin-bottom: .3em
}

.event_desc {
	font-family: 'Georgia';
	font-size: 1em;
	line-height: 120%;
	padding-bottom: .3em;
	margin-bottom: .5em;
}

div#comments > li {
	margin-right: 6%;
}

div#events > li {
	margin-right: 6%;
}

div#tweets > li {
	margin-right: 6%;
}

div#extra li {
	display:block;
}
div#extra li:hover {
	background-color: #f3f6fb;
}

/*CONTENT SIDEBAR-------------------------------------------------------------------------*/
/*CONTENT SIDEBAR-------------------------------------------------------------------------*/
/*CONTENT SIDEBAR-------------------------------------------------------------------------*/
/*CONTENT SIDEBAR-------------------------------------------------------------------------*/

#content_sidebar {
	float: left;
	width: 18%;

	margin-left: 75%;
	margin-right: 0%;
	margin-top: 1%;

	height: 100%;
	position: fixed;
	overflow: auto;
}

ul.sidebar > li {
	display:block;
	border-bottom: 1px dotted #878787;

	-webkit-box-shadow: inset 4px 0px 13px -9px; 
	-moz-box-shadow: inset 4px 0px 13px -9px;
	box-shadow: inset 4px 0px 13px -9px;	
}

h6.tease_head {
	font-family: 'Open Sans';
	font-size: .8em;
	font-weight: 700;
	line-height: 120%;
	color: #4e4e4e;
	text-transform: uppercase;
	padding: .4em;
	padding-top: .6em;
	padding-bottom: .6em;
}

h5.sidebar_title {
	font-family: 'Open Sans Condensed';
	font-weight: 700;
	font-size: 1.2em;
	text-transform: uppercase;
	padding: .4em;
	padding-top: .6em;
	padding-bottom: .6em;
}	

ul.sidebar li:nth-child(odd) {
	background: #f3f6fb;
}

ul.sidebar li {
   -webkit-transition:background .5s ease;  
   -moz-transition:background .5s ease;  
   -o-transition:background .5s ease;  
   transition:background .5s ease;    
}

ul.sidebar li:hover {
	background: #f3f6fb;
}

p.tease_body {
	font-family: 'Georgia', serif;
	font-size: .8em;
	padding: .4em;
	padding-bottom: .6em;
}

p.tease_last {
	padding-bottom: 2em;
}

/*FOOTER ---------------------------------------------------------------------------------*/
/*FOOTER ---------------------------------------------------------------------------------*/
/*FOOTER ---------------------------------------------------------------------------------*/
/*FOOTER ---------------------------------------------------------------------------------*/

footer {
	background-color: #3856A4;
	margin-top: 1em;
}

.footer, .push {
height: 3em;
clear: both;
}

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -3em;
}

#copyright {
	color: #FFF;
	position: absolute;
	padding: 12px;

	font-family: 'Open Sans';
	font-weight: 700;
	font-size: .8em;
	text-transform: uppercase;
}

#mmm_tasty_burger {
	width: 20px;
	position: absolute;	
	margin-left: 71.5%;
	margin-top: -2.2%;
	padding: 3px;
}

/*STORY PAGE STYLES ---------------------------------------------------------------------------------*/
/*STORY PAGE STYLES ---------------------------------------------------------------------------------*/
/*STORY PAGE STYLES ---------------------------------------------------------------------------------*/
/*STORY PAGE STYLES ---------------------------------------------------------------------------------*/

img.story_image {
	width: 100%;
	margin-top: 1em;
}

h1.story_head {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 4.8em;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: .2em;
}

h1.story_head_feature {
	font-family: 'Josefin Slab', serif;
	font-size: 4.2em;
	font-weight: 700;
	text-transform: none;
	margin-top: .3em;
	margin-bottom: .3em;	
}

h2.story_deck {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6em;
	font-weight: 400;
	margin-top: .2em;
	padding-bottom: .73em;
}

h5.story_date {
	font-family: 'Open Sans';
	font-size: .8em;
	font-weight: 700;
	line-height: 120%;
	color: #4e4e4e;
	text-transform: uppercase;
	padding-top: .6em;
}

h6.story_byline {
	font-family: 'Open Sans';
	font-size: 1.2em;
	font-weight: 700;
	line-height: 120%;
	color: #000;
	text-transform: uppercase;
	padding-top: .2em;
	padding-bottom: .8em;
}

div.story_body {
	width: 95%;
	margin-right: 5%;
}

div.story_body > p {
	margin-bottom: 1em;
	font-family: 'Georgia', serif;
	font-size: 1.2em;
	line-height: 115%;
}

div.story_subhead {
	font-family: 'Open Sans Condensed';
	font-weight: 700;
	font-size: 2em;
	text-transform: uppercase;
	margin-top: .3em;
	margin-bottom: .7em;
}

.next_desc {
	font-family: 'Georgia', serif;
	font-size: 1.2em;
	line-height: 120%;
	margin-top: .5em;
	width: 90%;
}

img.story_image_secondary {
	width: 100%;
}

div.image_sidebar {
	width: 50%;
	float: right;
	margin: 12px;
}

div.image_sidebar_big {
	width: 100%;
	margin-top: 3em;
	margin-bottom: 2em;
}

p.pullquote {
	font-family: 'Open Sans', sans-serif;
	font-size: 2.3em;
	font-style: italic;
	line-height: 100%;

	margin-top: .5em;
	margin-bottom: .5em;

	color: #000;
}

.comment_story {
	font-family: 'Georgia';
	font-size: 1em;
	font-style: italic;
	line-height: 120%;
	padding: .4em;
}

.comment_byline_story {
	font-family: 'Georgia';
	font-size: .8em;
	font-weight: bold;

	margin-top: .4em;
	margin-bottom: .6em;

	padding-right: .4em;

	text-align: right;
}

div.sidebar {
	width: 40%;
	float: right;
	padding-left: 12px;
	margin-left: 12px;
	padding-bottom: 12px;
	border-left: 1px dotted #878787;
}

div.sidebar > p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: .9em;
	margin-bottom: .9em;
}

h5.sidebar_head {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 1.2em;
	line-height: 110%;
	margin-bottom: .9em;
	text-transform: uppercase;
}

.infobox_bold {
	font-weight: 700;
}

img.sidebar_image {
	width: 60%;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-right: 40%;
}

ul.recipe > li {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: .9em;
}

span.recipe {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 1.2em;
	line-height: 110%;
	text-transform: uppercase;
	margin-bottom: .9em;
}
